html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}


.login {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.mapboxgl-ctrl-top-right {
  right: auto;
  left: 0;
}

.btn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);

    color: #fff;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;

    border-radius: 2px;      
}